$colors:(
    cyan:hsl(179, 62%, 43%),
    yellow: hsl(71, 73%, 54%),
    LightGrays: hsl(204, 43%, 93%),
    GrayishBlue: hsl(218, 22%, 67%)
);

@function color($color){
    @return map-get($map: $colors, $key: $color);
}

body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "join join"
        "subscription whyus"
        "credits credits";
    padding: 20%;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    background-color: color(LightGrays);

    .join{
        grid-area:join;
        background-color: white;
        border-radius: 10px 10px 0 0;
        padding: 20px 100px;

        h1{
            color: color(cyan);
        }

        h2{
            color: color(yellow);
        }

        p{
            color: color(GrayishBlue);
        }
    }

    .subscription{
        grid-area:subscription;
        background-color: darken(color(cyan),4%);
        display: flex;
        flex-direction: column;
        border-radius: 0 0 0 10px;
        padding: 20px;
        text-align: center;

        h1{
            color:lightgray;
            font-size: 16px;
            align-self: center;

            span{
                color: white;
                font-size: 32px;
                margin: 0;
                align-self: initial;
            }
        }

        h2{
            color: white;
        }

        p{
            color: white;
        }

        button{
            border: none;
            width: 80%;
            align-self: center;
            height: 16%;
            background-color: color(yellow);
            box-shadow: 2px 4px 4px rgb(4, 158, 132);
            border-radius: 10px;
            color: white;
        }
    }

    .whyus{
        grid-area:whyus;
        background-color: color(cyan);
        border-radius: 0 0 10px 0;
        padding: 40px;
        display: flex;
        flex-direction: column;

        p{
            font-size: 13px;
            margin:0;
            color: color(LightGrays);

        }

        h2{
            color: white;
        }
    }

    footer{
        grid-area: credits;
    }
}

@media(max-width:700px){
    body{
        display: flex;
        flex-direction: column;

        .join{
            order:1;
            padding: 10%;
        }

        .subscription{
            order:2;
            border-radius: 0;
            padding:10%;

            p{
                text-align: left;
            }

            h1{
                text-align: left;
                align-self: flex-start;
            }

            h2{
                text-align: left;
            }

            button{
                height:40px;
                align-self: flex-start;
            }
        }

        .whyus{
            order:3;
            border-radius: 0 0 10px 10px;
            padding: 10%;
        }
        
        footer{
            order:4;
        }
    }
}

@media(max-width:375px){
    body{

        .join{
            h1{
                font-size: 16px;
            }

            h2{
                font-size: 11px;
            }

            p{
                font-size: 10px;
            }
        }

        .subscription{
            h2{
                font-size: 11px;

            }

            h1{
                font-size: 11px;
                
                span{
                    font-size: 16px;
                }
            }

            p{
                font-size: 10px;
            }

            button{
                width: 40vw;
            }
        }

        .whyus{
            h1{
                font-size: 30px;
            }

            h2{
                font-size: 19   px;
            }

            p{
                font-size: 13px;
            }
        }

        footer{

        }
    }
}